        
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="" class=" ulfhdtd idc0_350">
  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <title>%{print(site.title)}%/%{print(page.title)}%</title>

<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/katex.min.css">
</head>

<body>

<div id="container">

    %{include_file("header.html")}%

    %{print(page_content())}%


    <h3>posts <a href="posts/feed.xml">[rss]</a></h3>
        <ul style="list-style-type: none">

%{
p = child_pages('./posts')

for k,v in pairs(p) do
    print([[<li>
        <div style="width:100\%">
            <div style="float:right">]] .. v.title .. [[</div>
            <div class=date><a href="]] .. v.url  .. [[">]] .. (os.date("%d %B %Y", v.date)) .. [[</a></div> 
        </div>
        </li>]])
end
}%

</ul>
</div>


</body>
