        
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="" class=" ulfhdtd idc0_350">
  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>%{print(page.title)}%</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/katex.min.css" integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP">


</head>

<body>

<div id="container">

    %{include_file("header.html")}%

    %{print(page_content())}%

      <hr>
      <br>
      <br>

<a href="https://orcid.org/0009-0000-7316-9112"><img alt="ORCID" class="noalias" src="/orcid.gif"/></a>
<a href="https://ocaml.org"><img alt="Powered by OCaml" class="noalias" src="/ocaml.gif"/></a>
<img src="/noai.gif" alt="written by a human, not by AI" style="image-rendering: pixelated">
<a href="https://creativecommons.org/licenses/by/4.0/"><img src="/by.gif" alt="CC-BY" style="image-rendering: pixelated"></a> 

      <br>
        Views are my own and do not represent those of my institution or employer.

      <p>Last built %{print(os.date("%c", os.time()))}%</p>
</body>
    
